{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'PlearnApp/auth_styles.css' %}">
</head>
<body>
    <div class='container'>
    <h2>Log In</h2>
    <form class = "form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
    <a href="{% url 'password_reset' %}">Forgot Password?</a>
    <a href="{% url 'sign_up' %}">Don't have an account? Sign Up</a>
</div>
</body>
</html>